
html{
  font-family: calibri;
}

#heading{
text-align: center;
font-weight: bold;
font-family: serif;
font-size: x-large;
padding-bottom: 5px;
}

#menu_bar{
background-color: black;
color: white;
display: inline-block;
width: 100%;
height:50px;
vertical-align: middle;
text-align: center;
}

#menu_buttons{
  display: inline-block;
  text-align: center;
  height: 100%;
  padding: 12px 10px 0px 10px;
}

#blog_body{
  background-color: lightgray;
  display: inline-block;
  width: 100%;
  height:750px;
}

#blog_title{
  padding-top: 10px;
  font-size: x-large;
}

#blog_subtitle{
  font-size: x-small;
  padding-top: 1px
}

#blog_text{
  padding-top: 15px;
  font-size: small
}


