
/*Contains all formatting for header and footer of all pages.  All pages on my site should be linked to this CSS page.  Inser the following into the html file:
  <link rel="stylesheet" type="text/css" href="../stylesheets/index-stylesheet.css">
*/

html{
  font-family: 'Karma', serif;
}

#wrapper{
  text-align: left;
  margin: 0px auto;
  width: 100%;
}

#header_block{
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #455860;
}


a.linkclass1:link{color:white; text-decoration: none}
a.linkclass1:hover{color:gray; text-decoration: underline;}
a.linkclass1:visited{color:white; text-decoration: none; }
a.linkclass1{
  font-size: 1em;
  font-weight: 600;
}




#menubar{
  background-color: #262626;
  height: 40px;
  width: 100%;
  text-align: left;
  vertical-align: center;
  position-left: auto;
  position-right: auto;

}


.menu_buttons{
  width: 70px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
  font-size: 1em;
  color: white;
  font-family: 'Oswald', sans-serif;
}


.name_in_menu{
  display: inline-block;
  text-align: left;
  vertical-align: center;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 5%;
  color: #ee4f30;
}

.about_me1{
  width: 25%;
}

#footer{
  height: 40px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  bottom: 0
  left: 0;
  clear: both;
  display: inline-block;
  padding-top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #455860;
}

h1{
  color: gray;
  font-weight: 900;
  border-bottom-color: red;
}

h2{
color: #455860;
}